.form{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.App-footer{
    display: flex;
    padding: 20px 0;
    margin-top: auto;
    border-top: 3px solid var(--red);
}

.App-footer p{
    margin: auto;
    font-weight: 500;
    font-style: italic;
}