.Notifications{
    border: 3px solid var(--red);
    border-style: dashed;
    padding: 20px;
    margin: 10px;
}

.Notifications > ul{
    padding-left: 20px;
}

li[data-notification-type="default"] {
	color: blue;
}

li[data-notification-type="urgent"] {
	color: red;
}