.content-notifications{
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
}

.menuItem{
    margin: 15px 0;
    margin-right: 20px;
    text-align: right;
}
  
.Notifications{
    display: none;
    width: 400px;
    border: 3px dashed var(--red);
    margin-right: 20px;
    padding: 20px;
    padding-left: 40px;
    position: relative;
}

.Notifications.show{
    display: flex;
    flex-direction: column;
}
  
.Notifications.hide{
    display: none; 
}
  
.Notifications button{
    position: absolute;
    right: 5px;
    top: 5px;
    background: none;
    border: none;
    cursor: pointer;
}
  
.Notifications button img{
    width: 25px;
    height: auto;
    object-fit: contain;
}

.Notifications > p{
    font-size: 18px;
}

li[data-notification-type="default"] {
	color: blue;
}

li[data-notification-type="urgent"] {
	color: red;
}